<div class="row">
  <div class="col-xs-2">
    <span class="label label-{{lClass}}">{{cName}}</span>
  </div>
  <div class="col-xs-10">
        <span *ngFor="let block of createRange(nCount)"
              class="glyphicon glyphicon-star"
              [ngClass]="lClass"
        ></span>
  </div>
</div>
