<h3>Add candidate</h3>
<form (ngSubmit)="onSubmit(name)" class="form-inline">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" #name placeholder="Candidate Name">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<h3 *ngIf="candidates && candidates.length>0">Voting Panel</h3>


<div class="list-group"  *ngIf="candidates && candidates.length>0">
  <a href="#" class="list-group-item active">
    Candidates
  </a>
  <a href="javascript:" class="list-group-item"
     *ngFor="let candidate of candidates"
     (click)="castVote(candidate)"
  ><span class="badge">{{candidate.count}}</span>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    {{candidate.candidateName}}</a>
</div>
