<h3>Result</h3>
<div class="row">
  <div class="col-xs-12 candidate" (mouseover)="viewSummary(candidate)"  (mouseleave)="hideSummary()"
       *ngFor="let candidate of result?.candidates">
    <rbs-candidate-result
      [cName]="candidate.candidateName"
      [nCount]="candidate.count"
      [lClass]="getClass(candidate.count)"
    >
    </rbs-candidate-result>
  </div>

  <div class="col-xs-12">
    <h1 [hidden]="summary==''">{{summary}}</h1>
  </div>
</div>



